// Place all the styles related to the App::Checkin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#map-canvas{
	width: 100%;
	height: 300px;
}

#page-2{
	display: none;
}

#checkin-button{
	margin-top: 10px;
}